<h1>POC - Campo Hora / Duração</h1>

<form>
  <!--
  <div>
    <label for="">Data de início do evento:</label>
    <app-timepicker [formControl]="horaControl"></app-timepicker>
  </div>
  -->
  <div style="margin-top: 20px">
    <label for="">Duração do evento:</label>
    <app-duration-picker></app-duration-picker>
  </div>
</form>
<!--
<h2>Form Group</h2>
<p>Valido: {{ group.valid }}</p>

<h2>Duração Form Control</h2>
<p>Valor: {{ duracaoControl.value }}</p>
<p>Valido: {{ duracaoControl.valid }}</p>
-->
